*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background-color:wheat;
  width: 20rem;
  padding:1.5rem;
  margin-top:4rem ;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0,1);
}
.display{
  height: 4rem;
  margin-bottom: 4rem;
  border: darksalmon 1px solid;
  border-radius: .4rem;
  padding: .4rem;
}

.buttonBox{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:.5rem;
}

.button{
  background-color: beige;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:black;
  font-size: 1.5rem;
  border-style: none;

}
.button:hover{
  background-color:lightgray;
  border: black 1px solid;
  
}
.equals{
  background-color: darkgreen;
  grid-column: 3/5;
}
.equals:hover{
  background-color: green;
  border: darkgreen 3px solid;
}
.opt{
  background-color: darkkhaki;

}
.opt:hover{
  background-color: khaki;
  border: darkkhaki 2px solid;
}
.clr{
  background-color:darkred;
  color: aliceblue;
}
.clr:hover{
  background-color:red;
  border: darkred 2px solid;
}
.appname{
  width: 100%;
  padding: .5rem;
  background-color: burlywood;
  border-radius: .4rem;
  margin-bottom: 1rem;
}